# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
*.env
backend/.env

# Node
node_modules/
extension/node_modules/
extension/out/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
